#remove_news_extension_body {
  font-family: "Inter", sans-serif;
  padding-top: 0px;
  margin: 0px;
}

#remove_bad_news_toaster {
  top: 16px;
  right: 24px;
  left: auto;
  bottom: auto;
  font-size: 0.875rem;
  padding: 10px 16px;
  border: 0;
  background-color: #181818;
  color: #fff;
  border-radius: 8px;
  box-shadow: #0003 0 2px 4px;
}

.blur-images img {
  filter: blur(6px);
}

.remove_news_extension_header {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #d2d2d2;
  padding: 0.5rem;
  align-items: baseline;
}

.remove_news_extension_header h1 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.75rem;
  color: rgb(9, 9, 11);
  margin: 0px;
  white-space: nowrap;
}

.removedNewsCount {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: rgb(24, 24, 27);
  color: white;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove_news_option_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}

.remove_news_option_container label {
  font-size: 0.75rem;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1;
}

.remove_news_toggle_container {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.filterNewsToggleBtn {
  background-color: white;
  width: 3rem;
  height: 1.5rem;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  border: 1px solid rgb(24, 24, 27);
}

.filterNewsToggleBtn:before {
  position: absolute;
  content: "";
  background-color: rgb(24, 24, 27);
  border: 1px solid rgb(24, 24, 27);
  width: 14px;
  height: 13px;
  border-radius: 200px;
  margin: 5px;
  transition: 0.2s;
}

input:checked + .filterNewsToggleBtn:before {
  transform: translate(22px);
}

#remove_news_extension_body input {
  display: none;
}

#remove_news_extension_body a {
  display: flex;
  justify-content: center;
  background-color: white;
  color: rgb(24, 24, 27);
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 1px solid rgb(228, 228, 231);
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 500;
  margin: 0.5rem;
}

#remove_news_extension_body a:hover {
  background-color: hsl(240, 4.8%, 95.9%);
}
